@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
