@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@langdb:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
