.nlux-AiChat-root {
    font-family: var(--nlux-chtr--fnFm), sans-serif;
    font-size: var(--nlux-chtr--ftSz);
    font-weight: var(--nlux-chtr--fnWg);
    font-style: normal;

    line-height: var(--nlux-chtr--lnH);
    color: var(--nlux-chtr--txtClr);

    font-variation-settings: 'slnt' 0;

    > .nlux-chatRoom-container {
        border: var(--nlux-chtr--brdrWd) solid var(--nlux-chtr--brdClr);
        border-radius: 0px;
        background-color: var(--nlux-chtr--bgClr);
        height: 40px;

        > .nlux-composer-container {
            border: 1px solid var(--nlux-border-color) !important;
            border-radius: 26px;
            background-color: var(--nlux-textbox-bg) !important;
            margin-bottom: 20px;
            textarea {
                color: var(--nlux-ConversationStarter--TextColor);
                padding: 0px;
                height: 40px;
                padding-left: 10px;
                box-sizing: border-box;
                line-height: 1.5rem;
                font-size: 1rem;
                padding: .5rem .75rem;
            };
            textarea::placeholder {
                color: var(--nlux-ConversationStarter--TextColor);
                opacity: 0.5;
            };
        }
    }
}
.nlux-AiChat-root>.nlux-chatRoom-container>.nlux-composer-container {
    height: 40px;
    min-height: 40px !important;
    padding-right: 5px;
}
.nlux-comp-composer.nlux-composer--typing button>.nlux-comp-sendIcon {
    display: flex !important;
}