@tailwind base;
@tailwind components;
@tailwind utilities;


html[data-mode="dark"] .langdb-chat {
 /* Human message in chat */
--langdb-HumanMessage--BackgroundColor:rgb(44 44 44);
--langdb-HumanMessage--BorderColor: transparent;
--langdb-HumanMessage--TextColor: rgb(236, 236, 236);

 /** AI message in chat */
--langdb-AiMessage--BackgroundColor: transparent;
--langdb-AiMessage--TextColor: rgb(236, 236, 236);

--langdb-InputContainer--BackgroundColor: rgb(44 44 44);
--langdb-InputContainer--BorderColor: transparent;
--langdb-Input--TextColor: rgb(236, 236, 236);

 /** Submit button colors */
--langdb-SubmitButton--BackgroundColor: rgb(236, 236, 236);
  --langdb-SubmitButton--BorderColor: transparent;
--langdb-SubmitButton--TextColor: black;

--langdb-SubmitButton-Disabled--BackgroundColor:rgb(103, 103, 103);
  --langdb-SubmitButton-Disabled--BorderColor: transparent;
  --langdb-SubmitButton-Disabled--TextColor:black;

 --langdb-SubmitButton-Focus-Outline--Color: transparent;
}

.langdb-chat {
  /* Human message in chat */
  --langdb-HumanMessage--BackgroundColor: #374151;
  --langdb-HumanMessage--BorderColor: transparent;
  --langdb-HumanMessage--TextColor: #ffffff;

  /** AI message in chat */
  --langdb-AiMessage--BackgroundColor: transparent;
  --langdb-AiMessage--BorderColor: transparent;
  --langdb-AiMessage--TextColor: rgb(107 114 128);


  --langdb-InputContainer--BackgroundColor: #374151;
  --langdb-InputContainer--BorderColor: transparent;
  --langdb-Input--TextColor: rgb(236, 236, 236);

  /** Submit button colors */
  --langdb-SubmitButton--BackgroundColor: #b6b6bf;
  --langdb-SubmitButton--BorderColor: transparent;
  --langdb-SubmitButton--TextColor: black;

  --langdb-SubmitButton-Disabled--BackgroundColor: rgb(103, 103, 103);
  --langdb-SubmitButton-Disabled--BorderColor: transparent;
  --langdb-SubmitButton-Disabled--TextColor: black;
}

.langdb-chat {
  background-color: var(--langdb-ChatRoom--BackgroundColor);
  border-color: var(--langdb-ChatRoom--BorderColor);
  color: var(--langdb-ChatRoom--TextColor);
}

.human-message {
  background-color: var(--langdb-HumanMessage--BackgroundColor);
  border-color: var(--langdb-HumanMessage--BorderColor);
  color: var(--langdb-HumanMessage--TextColor);
}

.ai-message {
  background-color: var(--langdb-AiMessage--BackgroundColor);
  border-color: var(--langdb-AiMessage--BorderColor);
  color: var(--langdb-AiMessage--TextColor);
}

.langdb-input-container {
  background-color: var(--langdb-InputContainer--BackgroundColor);
  border-color: var(--langdb-InputContainer--BorderColor);
  outline-color: var(--langdb-InputContainer-Focus-Outline--Color);
}

.langdb-input {
  background-color: transparent;
  border: none;
  color: var(--langdb-Input--TextColor);
}

.send-button {
  background-color: var(--langdb-SubmitButton--BackgroundColor);
  border-color: var(--langdb-SubmitButton--BorderColor);
  color: var(--langdb-SubmitButton--TextColor);
}

.send-button:active {
  background-color: var(--langdb-SubmitButton-Active--BackgroundColor);
  border-color: var(--langdb-SubmitButton-Active--BorderColor);
  color: var(--langdb-SubmitButton-Active--TextColor);
}

.send-button:disabled {
  background-color: var(--langdb-SubmitButton-Disabled--BackgroundColor);
  border-color: var(--langdb-SubmitButton-Disabled--BorderColor);
  color: var(--langdb-SubmitButton-Disabled--TextColor);
}