.langdb-chat-1[data-color-scheme='light'] {
    /** Exceptions box */
    --langdb-Exceptions--BackgroundColor: tomato;
    --langdb-Exceptions--BorderColor: darkred;
    --langdb-Exceptions--TextColor: white;

    /** Welcome message */
    --langdb-WelcomeMessage-Avatar--BorderColor: transparent;
    --langdb-WelcomeMessage-Avatar--BackgroundColor: transparent;

    /** Divider between composer and messages */
    --langdb-ChatRoom-Divider--Color: transparent;

    /** Conversation loader */
    --langdb-ChatRoom-Loader--Color: #71717a;

    /** Conversation content color */
    --langdb-ChatRoom--BackgroundColor: #ffffff;
    --langdb-ChatRoom--BorderColor: transparent;
    --langdb-ChatRoom--TextColor: #09090B;

    /** Participant info in chat */
    --langdb-ChatItem-ParticipantName--Color: #09090B;

    /* Human message in chat */
    --langdb-HumanMessage--BackgroundColor: #374151;
    --langdb-HumanMessage--BorderColor: transparent;
    --langdb-HumanMessage--TextColor: #ffffff;

    /** AI message in chat */
    --langdb-AiMessage--BackgroundColor: #f3f4f6;
    --langdb-AiMessage--BorderColor: transparent;
    --langdb-AiMessage--TextColor: rgb(107 114 128);

    /** Prompt input colors */
    --langdb-PromptInput--BackgroundColor: transparent;
    --langdb-PromptInput--BorderColor: transparent;
    --langdb-PromptInput--TextColor: #ffffff;

    --langdb-PromptInput-Active--BackgroundColor: transparent;
    --langdb-PromptInput-Active--BorderColor: transparent;
    --langdb-PromptInput-Active--TextColor: #ffffff;

    --langdb-PromptInput-Disabled--BackgroundColor: transparent;
    --langdb-PromptInput-Disabled--TextColor: #b6b6bf;
    --langdb-PromptInput-Disabled--BorderColor: transparent;

    --langdb-PromptInput-Placeholder--TextColor: #ffffff;
    --langdb-PromptInput-Focus-Outline--Color: transparent;

    /** Submit button colors */
    --langdb-SubmitButton--BackgroundColor: transparent;
    --langdb-SubmitButton--BorderColor: transparent;
    --langdb-SubmitButton--TextColor: #ffffff;

    --langdb-SubmitButton-Active--BackgroundColor: transparent;
    --langdb-SubmitButton-Active--BorderColor: transparent;
    --langdb-SubmitButton-Active--TextColor: #ffffff;

    --langdb-SubmitButton-Disabled--BackgroundColor: transparent;
    --langdb-SubmitButton-Disabled--BorderColor: transparent;
    --langdb-SubmitButton-Disabled--TextColor: #71717a;

    --langdb-SubmitButton-Focus-Outline--Color: transparent;

    /** Code block */
    --langdb-CodeBlock--BackgroundColor: #292d3e;
    --langdb-CodeBlock--BorderColor: transparent;
    --langdb-CodeBlock--TextColor: rgb(191, 199, 213);
    --langdb-CodeBlock-Hover--BackgroundColor: #2c3041;

    /** Code block copy button */
    --langdb-CodeBlock-CopyButton--BackgroundColor: rgb(41, 45, 62);
    --langdb-CodeBlock-CopyButton--BorderColor: #dadde1;
    --langdb-CodeBlock-CopyButton--TextColor: rgb(191, 199, 213);

    /** Code block copy button in clicked state */
    --langdb-CodeBlock-CopyButton-Clicked--BackgroundColor: #393930;
    --langdb-CodeBlock-CopyButton-Clicked--BorderColor: #393930;
    --langdb-CodeBlock-CopyButton-Clicked--TextColor: rgb(191, 199, 213);

    /** Inline code in markdown */
    --langdb-InlineCode--BackgroundColor: #fff9d8;
    --langdb-InlineCode--BorderColor: transparent;
    --langdb-InlineCode--TextColor: black;

    /** Conversation starters */
    --langdb-ConversationStarter--BackgroundColor: var(--langdb-AiMessage--BackgroundColor);
    --langdb-ConversationStarter--BorderColor: transparent;
    --langdb-ConversationStarter--TextColor: var(--langdb-AiMessage--TextColor);

    div.langdb-markdown pre {
        background: #292d3e !important;
        padding: 15px;
        margin: 15px 0;
        border-radius: 8px;
    }
}