
.langdb-chat-1[data-color-scheme='dark'] {
    /** Exceptions box */
    --langdb-Exceptions--BackgroundColor: tomato;
    --langdb-Exceptions--BorderColor: darkred;
    --langdb-Exceptions--TextColor: white;

    /** Welcome message */
    --langdb-WelcomeMessage-Avatar--BorderColor: transparent;
    --langdb-WelcomeMessage-Avatar--BackgroundColor: transparent;

    /** Divider between composer and messages */
    --langdb-ChatRoom-Divider--Color: transparent;

    /** Conversation loader */
    --langdb-ChatRoom-Loader--Color: #71717a;

    /** Conversation content color */
    --langdb-ChatRoom--BackgroundColor: #212121;
    --langdb-ChatRoom--BorderColor: transparent;
    --langdb-ChatRoom--TextColor: rgb(155 155 155);

    /** Participant info in chat */
    --langdb-ChatItem-ParticipantName--Color: #ffffff;

    /* Human message in chat */
    --langdb-HumanMessage--BackgroundColor: #323232;
    --langdb-HumanMessage--BorderColor: transparent;
    --langdb-HumanMessage--TextColor: rgb(236, 236, 236);

    /** AI message in chat */
    --langdb-AiMessage--BackgroundColor: #494949;
    
    --langdb-AiMessage--BorderColor: transparent;
    --langdb-AiMessage--TextColor: rgb(236, 236, 236);

    /** Prompt input colors */
    --langdb-PromptInput--BackgroundColor: transparent;
    --langdb-PromptInput--BorderColor: transparent;
    --langdb-PromptInput--TextColor: #71717a;

    --langdb-PromptInput-Active--BackgroundColor: transparent;
    --langdb-PromptInput-Active--BorderColor: transparent;
    --langdb-PromptInput-Active--TextColor: #ffffff;

    --langdb-PromptInput-Disabled--BackgroundColor: transprent;
    --langdb-PromptInput-Disabled--TextColor: transprent;
    --langdb-PromptInput-Disabled--BorderColor: transprent;

    --langdb-PromptInput-Placeholder--TextColor: rgb(236, 236, 236);
    --langdb-PromptInput-Focus-Outline--Color: transparent;

    /** Submit button colors */
    --langdb-SubmitButton--BackgroundColor: transparent;
    --langdb-SubmitButton--BorderColor: transparent;
    --langdb-SubmitButton--TextColor: #71717a;

    --langdb-SubmitButton-Active--BackgroundColor: transparent;
    --langdb-SubmitButton-Active--BorderColor: transparent;
    --langdb-SubmitButton-Active--TextColor: #ffffff;

    --langdb-SubmitButton-Disabled--BackgroundColor: transparent;
    --langdb-SubmitButton-Disabled--BorderColor: transparent;
    --langdb-SubmitButton-Disabled--TextColor: #71717a;

    --langdb-SubmitButton-Focus-Outline--Color: transparent;

    /** Code block */
    --langdb-CodeBlock--BackgroundColor: #2b2b2b;
    --langdb-CodeBlock--BorderColor: transparent;
    --langdb-CodeBlock--TextColor: #ffffff;
    --langdb-CodeBlock-Hover--BackgroundColor: #3b3b3b;

    /** Code block copy button */
    --langdb-CodeBlock-CopyButton--BackgroundColor: #434342;
    --langdb-CodeBlock-CopyButton--BorderColor: #c5c5c3;
    --langdb-CodeBlock-CopyButton--TextColor: #ffffff;

    /** Code block copy button in clicked state */
    --langdb-CodeBlock-CopyButton-Clicked--BackgroundColor: #393930;
    --langdb-CodeBlock-CopyButton-Clicked--BorderColor: #393930;
    --langdb-CodeBlock-CopyButton-Clicked--TextColor: #ffffff;

    /** Inline code in markdown */
    --langdb-InlineCode--BackgroundColor: #393930;
    --langdb-InlineCode--BorderColor: transparent;
    --langdb-InlineCode--TextColor: #ffffff;

    /** Conversation starters */
    --langdb-ConversationStarter--BackgroundColor: var(--langdb-HumanMessage--BackgroundColor);
    --langdb-ConversationStarter--BorderColor: transparent;
    --langdb-ConversationStarter--TextColor: var(--langdb-HumanMessage--TextColor);
}
