.langdb-chat {
    --langdb-langdb--FontFamily: 'Arial', sans-serif;
    --langdb-langdb--MonoFontFamily: monospace;

    --langdb-langdb--BorderWidth: 0;
    --langdb-langdb--LineHeight: 1.6;
    --langdb-langdb--FlexGap: 12px;

    /**
     * Definitions and overrides of required theme variables.
     */

    /** Exceptions box */
    --langdb-Exceptions--Padding: 5px;
    --langdb-Exceptions--BorderWidth: var(--langdb-langdb--BorderWidth);
    --langdb-Exceptions--BorderRadius: 26px;

    /** Welcome message */
    --langdb-WelcomeMessage-Avatar--Width: 48px;
    --langdb-WelcomeMessage-PersonaName--FontSize: 18px;
    --langdb-WelcomeMessage-PersonaName--FontWeight: 600;
    --langdb-WelcomeMessage-Text--FontSize: 15px;
    --langdb-WelcomeMessage-Text--FontWeight: 400;
    --langdb-WelcomeMessage--Gap: 4px;

    /** Divider between conversation and composer */
    --langdb-ChatRoom-Divider--MarginTop: 10px;
    --langdb-ChatRoom-Divider--MarginBottom: 10px;
    --langdb-ChatRoom-Divider--BorderWidth: 1px;

    /** Chat-room container */
    --langdb-ChatRoom--LineHeight: var(--langdb-langdb--LineHeight);
    --langdb-ChatRoom--FontWeight: 400;
    --langdb-ChatRoom--FontFamily: var(--langdb-langdb--FontFamily);
    --langdb-ChatRoom--FontSize: 16px;

    --langdb-ChatRoom--Padding: 20px;
    --langdb-ChatRoom--BorderRadius: 18px;
    --langdb-ChatRoom--BorderWidth: var(--langdb-langdb--BorderWidth);

    /** Chat-room loader */
    --langdb-ChatRoom-Loader--Width: 25px;

    /** Chat item */
    --langdb-ChatItem--AlignItems: flex-end;

    /** Chat item participant info */
    --langdb-ChatItem-ParticipantInfo--Gap: var(--langdb-langdb--FlexGap);
    --langdb-ChatItem-ParticipantName--FontSize: 16px;
    --langdb-ChatItem-ParticipantName--FontWeight: 700;

    /** Chat item avatar */
    --langdb-ChatItem-Avatar--Width: 30px;
    --langdb-ChatItem-Avatar--BorderRadius: 50%;
    --langdb-ChatItem-Avatar--BorderWidth: var(--langdb-langdb--BorderWidth);

    /** Chat item message */
    --langdb-ChatItem-Message--Gap: var(--langdb-langdb--FlexGap);
    /** Gap between elements within message */

    /** Chat item message in bubbles display layout */
    --langdb-ChatItem-Message-BubbleLayout--BorderWidth: 0px;
    --langdb-ChatItem-Message-BubbleLayout--BorderRadius: 26px;
    --langdb-ChatItem-Message-BubbleLayout--PaddingTopBottom: 10px;
    --langdb-ChatItem-Message-BubbleLayout--PaddingLeftRight: 15px;

    /** Chat item message in list display layout */
    --langdb-ChatItem-Message-ListLayout--BorderWidth: 0px;
    --langdb-ChatItem-Message-ListLayout--BorderRadius: 26px;
    --langdb-ChatItem-Message-ListLayout--PaddingTopBottom: 5px;
    --langdb-ChatItem-Message-ListLayout--PaddingLeftRight: 10px;
    --langdb-ChatItem-Message-ListLayout--MarginTop: -10px;
    --langdb-ChatItem-Message-ListLayout--MarginBottom: 0px;
    --langdb-ChatItem-Message-ListLayout--MarginLeft: 32px;
    --langdb-ChatItem-Message-ListLayout--MarginRight: 0px;

    /** Chat item message code block */
    --langdb-CodeBlock--FontSize: 14px;
    --langdb-CodeBlock--FontFamily: 'Arial', sans-serif;
    --langdb-CodeBlock--Padding: 10px;
    --langdb-CodeBlock--BorderWidth: var(--langdb-langdb--BorderWidth);
    --langdb-CodeBlock--BorderRadius: 12px;

    /** Code block copy button */
    --langdb-CodeBlock-CopyButton--Width: 22px;
    --langdb-CodeBlock-CopyButton--Height: 22px;
    --langdb-CodeBlock-CopyButton--Padding: 2px;
    --langdb-CodeBlock-CopyButton--BorderRadius: 4px;
    --langdb-CodeBlock-CopyButton--BorderWidth: var(--langdb-langdb--BorderWidth);

    /** Inline code in markdown */
    --langdb-InlineCode--BorderRadius: 6px;
    --langdb-InlineCode--BorderWidth: 2px;
    --langdb-InlineCode--Padding: 0 2px;
    --langdb-InlineCode--FontSize: 18px;

    /** Composer */
    --langdb-Composer--Gap: 5px;

    /** Submit button */
    --langdb-SubmitButton--Width: 65px;
    --langdb-SubmitButton--BorderWidth: var(--langdb-langdb--BorderWidth);
    --langdb-SubmitButton--BorderRadius: 12px;
    --langdb-SubmitButton-Focus-Outline--Width: 2px;

    /** Composer input */
    --langdb-PromptInput--FontFamily: var(--langdb-langdb--FontFamily);
    --langdb-PromptInput--FontSize: 16px;
    --langdb-PromptInput--BorderWidth: 0;
    --langdb-PromptInput--BorderRadius: 26px;
    --langdb-PromptInput-Focus-Outline--Width: 2px;

    /** Conversation starters */
    --langdb-ConversationStarter--Padding: 0 10px;
    --langdb-ConversationStarter--BorderRadius: 6px;
    --langdb-ConversationStarter--BorderWidth: 0;
    --langdb-ConversationStarter--Gap: var(--langdb-langdb--FlexGap);
    --langdb-ConversationStarter--Width: 160px;
    --langdb-ConversationStarter--Height: 101px;
}