@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: rgba(176, 72, 140, 0.1);
  --primary-100: #fde6e7;
  --primary-200: #fbd0d5;
  --primary-300: #f8a9b2;
  --primary-400: #f3798a;
  --primary-500: #e94560;
  --primary-600: #d6284d;
  --primary-700: #b41c40;
  --primary-800: #971a3c;
  --primary-900: #811a39;
  --primary-default: #E94560;
  --disable-button: rgba(214, 211, 211, 0.356);
  --secondary-background: rgba(240, 240, 240, 1);
  --tw-text-opacity: 1;
  /* Light mode background and text colors */
  --background-color: #ffffff;
  --text-color: rgb(107 114 128/var(--tw-text-opacity));
  --border-color: #e5e7eb;
  --header-color: 'gray-50';
  --secondary-border: rgb(217, 212, 212);
  --secondary-text: rgb(133, 133, 133);
  --tw-ring-color: var(--primary-500);
  border-color: var(--border-color);

}
[data-mode="dark"] {
  --primary-50: rgba(233, 69, 96, 0.1);
  /* Lighter version with transparency */
  --primary-100: #fde6e7;
  --primary-200: #fbd0d5;
  --primary-300: #f8a9b2;
  --primary-400: #f3798a;
  --primary-500: #e94560;
  --primary-600: #d6284d;
  --primary-700: #b41c40;
  --primary-800: #971a3c;
  --primary-900: #811a39;
  --primary-default: #E94560;
  --tw-text-opacity: 1;
  /* Dark mode background and text colors */
  --background-color: #171717;
  --text-color: rgb(156 163 175/var(--tw-text-opacity));
  --header-color: #2c2c2c;
  --border-color: rgb(54 54 54);
  --disable-color: rgba(255, 255, 255, 0.094);
  --secondary-background: rgb(40 40 40);
  --secondary-border: rgb(46 46 46);
  --secondary-text: rgb(180 180 180);
  border-color: var(--border-color);

}